html, body{
	height: 100%;
	margin: none !important;
	margin: 0 0!important;
}
p{
	margin: .5em;
}
#centerText{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    transition-duration: 1.5s;
    transform: translate(-50%,-50%);
    font-size: 40px;
	text-align: center;
	letter-spacing: 2.5px;
	font-family: 'Noto Sans', sans-serif;
 
}
.titleText{
	opacity: 0; 
	transition-duration: 1.5s;
	filter: blur(3px); 
	color: red;
}
#main{
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	 -webkit-transition-duration: 0.4s; 
    transition-duration: 3s;
	opacity: 0;
}

#outerBlock{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

.mainToggle{
	opacity: 1 !important;
}
#title{
	color:red;
	position:absolute;
	size: 14px;
	left: 50px;
}

/*PAGE 1*/
#name{
	font-size: 40px;
	text-align: center;
	position: relative;
	letter-spacing: 3px;
	font-family: 'Noto Sans', sans-serif;
}
#killedOn{
	color:red;
	text-align: center;
	position: relative;
	font-size: 40px;
	letter-spacing: 3px;
	font-family: 'Noto Sans', sans-serif;
}
#date{
	text-align: center;
	font-size: 40px;
	position: relative;
	letter-spacing: 3px;
	font-family: 'Noto Sans', sans-serif;
}

/*NAV*/
#nav{
	position: absolute;
	width: 150px;
	height: 60px;
	right: 50px;
	bottom: 50px;
	z-index: 1000;
}
/*ARROWS*/
#up{
	position: absolute;
	right: 0px;
	bottom: 40px;
	border:none;
	background-color: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 1;
    outline:0;
}
#up:hover{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	opacity: 0.5;
}
#down{
	position: absolute;
	right: 0px;
	bottom: 0px;
	border:none;
	background-color: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 1;
    outline:0;
}
#down:hover{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	opacity: 0.5;
}
/*CIRCLE BUTTONS*/
.circleBut{
	border: none;
	outline:0;
	margin-top: 20px;
	margin-right: 6px;
	border-radius: 50% !important;
	opacity: 1;
    background-color:black;
	width: 9px;
	height: 12px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    opacity: 1;
    transition: background-color 0.6s ease;
}
.circleBut:hover {
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	opacity: 0.5;
}
.active{
	background-color: red !important;
	color: red !important;
	transition: all ease 1s;
}

#page1{
	position: absolute;
	top: 50%;
	right: 50%;
	width: 600px;
	transform: translate(50%, -50%);
	z-index: 1000;
	transition: all 2s ease-in-out;
}

#page2{
	position: absolute;
	right: -75%;
	top: 20%;
	transition: all 2s ease-in-out;
}
#vid{
	position: absolute;
	top: 50%;
	right: 50%;
}
#timelineBlock{
	display: block;
	transition: all 3s ease-in-out;
	opacity: 0;
	z-index: 1000 !important;
}

.fadeElements{
	opacity: 1;
	filter: blur(0px);
	transition-duration: 1s;
}

#introMain{
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	transition: all 2s ease-in-out;
}

#pic1{
	border:none;
	outline: none;
	position: absolute;
	bottom: -210px;	
	right: 22%;
}
#pic2{
	border:none;
	outline: none;
	position: absolute;
	bottom: -250px;	
	right: 67%;
}
#pic3{
	border:none;
	outline: none;
	position: absolute;
	bottom: -220px;	
	right: 44%;
}
#pic4{
	border:none;
	outline: none;
	position: absolute;
	bottom: -250px;	
	right: 6%;
}
#pic5{
	border:none;
	outline: none;
	position: absolute;
	bottom: -300px;	
	right: 66%;
}
#pic6{
	border:none;
	outline: none;
	position: absolute;
	bottom: -350px;	
	right: 86%;
}
#pic7{
	border:none;
	outline: none;
	position: absolute;
	bottom: -300px;	
	right: 20%;
}
#pic8{
	border:none;
	outline: none;
	position: absolute;
	bottom: -250px;	
	right: 58%;
}
.row1{
 -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-delay: 7s;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    -webkit-transition-duration: 3s; 
    transition: all;
    transition-duration: 3s;
    opacity: .15;
 
}
.row2{
 -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-delay: 15s;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
     -webkit-transition-duration: 1s; 
    transition: all;
    transition-duration: 1s;
    opacity: .15;
 }
 .row3{
 -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-delay: 21s;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
     -webkit-transition-duration: 1s; 
    transition: all;
    transition-duration: 1s;
    opacity: .15;
 }
 .row4{
 -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-delay: 28s;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
     -webkit-transition-duration: 1s; 
    transition: all;
    transition-duration: 1s;
    opacity: .15;
 }
 .row5{
 -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-delay: 37.5s;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
     -webkit-transition-duration: 1s; 
    transition: all;
    transition-duration: 1s;
    opacity: .15;
 }
.portrait:hover{
	-webkit-transition-duration: 3s; 
    transition-duration: 3s;
	opacity: 1;
	cursor: pointer;
}
#scrollingVids{
	position:absolute;
	right: -100%;
	left: 100%;
	transition: all 2s ease-in-out;
}
.scrollVid{
	position: absolute;
	z-index: -1000;
	-webkit-transition-duration: 3s; 
    transition-duration: 3s;
}
.scrollVidBut{
	width: 250px;
	height: 150px;
	background-color: transparent;
	color: transparent;
	position: absolute;
	border: none;
	outline: none;
	opacity: 0;
	z-index: 900;
	cursor: pointer;
}
#vid1{
	bottom: -210px;	
	right: 16%;
}
#vid1But{
	bottom: -210px;	
	right: 16%;
}
#vid2{
	bottom: -250px;	
	right: 82%;
}
#vid2But{
	bottom: -250px;	
	right:  82%;
}
#vid3{
	bottom: -220px;	
	right: 44%;
}
#vid3But{
	bottom: -220px;	
	right: 44%;
}
#vid4{
	bottom: -280px;	
	right: 4%;
}
#vid4But{
	bottom: -280px;	
	right: 4%;
}
#vid5{
	bottom: -300px;	
	right: 66%;
}
#vid5But{
	bottom: -300px;	
	right: 66%;
}
#vid6{
	bottom: -350px;	
	right: 83%;
}
#vid6But{
	bottom: -350px;	
	right: 83%;
}
#vid7{
	bottom: -300px;	
	right: 9%;
}
#vid7But{
	bottom: -300px;	
	right: 9%;
}
#vid8{
	bottom: -300px;	
	right: 58%;
}
#vid8But{
	bottom: -300px;	
	right: 58%;
}

#page3{
	position: absolute;
	right: -175%;
	top: 42%;
	transition: all 2s ease-in-out;
}
#protestPic{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(15%,-45%);
}

#protestScroll{
	position:absolute;
	right: -200%;
	left: 200%;
	transition: all 2s ease-in-out;
}
.pp{
	position:absolute; 
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 3s linear !important;
}
#pp1_1But{
	bottom: -210px;	
	right: 22%;
}
#pp1_2But{
	bottom: -300px;	
	right: 60%;
}
#pp2_1But{
	bottom: -350px;	
	right: 96%;
}
#pp2_2But{
	bottom: -290px;	
	right: 85%;
}
#pp3_1But{
	bottom: -220px;	
	right: 17%;
}
#pp3_2But{
	bottom: -80px;	
	right: 37%;
}
#pp4_1But{
	bottom: -280px;	
	right: 98%;
}
#pp4_2But{
	bottom: -200px;	
	right: 40%;
}
#pp5_1But{
	bottom: -330px;	
	right: 22%;
}
#pp5_2But{
	bottom: -190px;	
	right: 48%;
}
#pp6_1But{
	bottom: -350px;	
	right: 89%;
}
#pp6_2But{
	bottom: -260px;	
	right: 75%;
}
#pp7_1But{
	bottom: -100px;	
	right: 55%;
}
#pp7_2But{
	bottom: -100px;	
	right: 9%;
}
#pp8_1But{
	bottom: -320px;	
	right: 92%;
}
#pp8_2But{
	bottom: -290px;	
	right: 33%;
}
#pp9_1But{
	bottom: -200px;	
	right: 73%;
}
#pp9_2But{
	bottom: -230px;	
	right: 55%;
}
#pp9_3But{
	bottom: -190px;	
	right: 10%;
}

#page4{
	top: 42%;
	right: -275%;
	width: 70%;
	position: absolute;
	transition: all 2s ease-in-out;
}
#notText {
	position: absolute;
	top: 23%;
	outline: none;
    background:transparent;
    border:none;
    cursor: pointer;
    margin:0;
    padding:0;
    text-align: center;
    font-size: 40px;
	letter-spacing: 3px;
	font-family: 'Noto Sans', sans-serif;
}
#noStr{
	color: red;
	text-align: center;
    font-size: 40px;
	letter-spacing: 3px;
	transition: all 1.5s;
	font-family: 'Noto Sans', sans-serif;
}

.strFade{
	opacity: 0; 
	filter: blur(0px); 
	transition: all 1.5s;
}

 @keyframes example {
    0%   {transform:translateY(0px); }
    94%   {transform:translateY(-1190px);}
    95% {transform:translateY(-1200px); opacity: .5;}
    96% {transform:translateY(-1210px); opacity:0;}
	100% {transform:translateY(0px); opacity: 0;}
}


